@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap);



body{
    font-family: JetBrains+Mono, sans-serif;
    background: #282828
   
}

section{
    background-color: #282828;
    color: #3500D3;

}

header{
    background-color: #282828;
    color: #3500D3;

}
.navbar-dark .navbar-nav .nav-link {
    color: #3500D3;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #0C0032;
    
}
.navbar-collapse {
    justify-content: center;
}

.navbar-dark .navbar-toggler {
    background-color: #282828;
}

.navbar-telegram{
    text-align: end;
}
p{
    font-size: 24px;
    
}
a{
    font-size: 24px;
}

h2{
    color: #0C0032;
    font-weight:900;
}
footer {
    color: #3500D3;
    background: #1b1b1b;
}

.navbar-brand img{
    width: 100px;
}

h1{
    color: #3500D3;
}

a:active,
a:hover,
a{
    text-decoration: none;
    text-decoration: none;
    color: #666;
}

.card{
    max-height: 40em;
    min-height: 40em;
}